<!DOCTYPE html>
<html>
    <head>
        <title>Обнаружена ошибка</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <style type="text/css">
            body, html {
                margin: 0px;
                padding: 0px;
                background: #fff;
                font-family: Tahoma;
                overflow: hidden;
                font-size: 16px;
                min-height: 100%;
                height: 100%;
                position: relative;
            }
            h1 {
                font-weight: normal;
                font-size: 20px;
            }
            .layout {
                position: relative;
                overflow: auto;
                height: 100%;
                min-height: 100%;
            }
            .content-wrapper {
                width: 60%;
                margin: 40px auto 20px;
                padding-left: 10%;
                box-sizing: border-box;
            }
            .ups {
                position: absolute;
                margin-left: -160px;
                font-size: 100px;
                margin-top: -20px;
            }
        </style>
    </head>
    <body>
        <div class="layout">
            <div class="content-wrapper">
                <div class="ups">:-(</div>
                <div class="content">
                    <h1>Что-то пошло не так</h1>
                    <p>Во время исполнения произошла ошибка. Скорее всего мы уже исправляем её, попробуйте обновить страницу через несколько секунд.</p>
                    <p>Если ничего не помогает и ошибка сохраняется, сообщите нам.</p>
                </div>
            </div>
        </div>
    </body>
</html>
