{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <h1 class="">Регистрация завершена</h1>
                <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
