body, html{
    margin:0;
    padding: 0;
    background: #fff;
    color: #333;
}
.header{
    width: 100%;
    height: 125px;
    background: #000000;
    font-size: 38px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
.menu{
    width: 100%;
    background: #ec8a00;
}
ul.top-menu, ul.top-menu li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-menu li{
    display: inline-block;
    color: #fff;
    font-size: 17px;
}
.top-menu{
    text-align: center;
}
.top-menu a {
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    text-decoration: none;
}
.body {
    width: 80%;
    margin: 50px auto;

}
.date {
    display: block;
    font-size: 12px;
    color: #666;

}
.category {
    display: block;
    padding: 5px;
}
.body h1{
    margin:20px 0 5px 0;
    text-align: center;


}
.body p {
    margin: 10px 0 5px 0;
}
.input-wraper, .form-group {
    padding: 5px 0;
}
label {
    display: block;
}
.form-control {
    min-width: 30%;
}
textarea.form-control {
    min-width: 40%;
    min-height: 150px;
}
.comment {
    margin-bottom: 15px;
}
.author, .date {
    margin: 5px 0;
    display: inline-block;
}
.progress-bar {
    height: 20px;
    margin: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.line {
    margin-top: 20px;
    padding: 15px;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.line-ing {
    padding: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.imgWrapper {
    float: left;
    width: 50%;

}

.shortDescription {
    float: left;
    width: 50%;
    padding-left: 20px;
    box-sizing: border-box;

}

.clear{
    clear: both;
}

.duration {
    margin-right: 30px;
}

.description {
    margin-left: 200px;
}

.recipe {
    margin-left: 400px;

}